@tailwind base;
@tailwind components;
@tailwind utilities;

.myCard:hover .card-options,
.checkitem:hover .checkitem-options {
    opacity: 1;
}
.home-page-board{
    @apply min-w-[191px] text-white font-bold  h-[96px] p-2 rounded-md;
}

.board-options{
    @apply hidden
}

.board-item:hover .board-options{
    display: inline-block;
}

.board-options:hover{
   @apply bg-slate-500
}

.board-options{
    @apply px-2 py-1 rounded-md
}

.boards-list{
    background-color: rgba(247, 244, 244, 0.616);
}

.list-container{
    @apply overflow-scroll h-auto pt-2 pl-2 w-screen
}


.list-container::-webkit-scrollbar{
    display: none;
}
